@import "@fontsource/lexend";
@import 'tailwindcss';

:root {
  --font-sans: "Lexend", sans-serif;
}
html {
scroll-behavior: smooth;
}

body {
  @apply m-0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #1CB5E0;
  --color-teal: #0d9488;
  --color-background-light: #f6f7f8;
  --color-background-dark: #111721;
  --color-text-main:#111618,
  --color-text-mute:#617f89,
  --color-card-dark: #18282f

  --font-display: 'Lexend', sans-serif;
}

/* Custom scrollbar for better aesthetic */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.sticky-header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: rgba(255, 255, 255, 0.95);
  backdrop-filter: blur(8px);
  box-shadow:
    0 4px 6px -1px rgba(0, 0, 0, 0.05),
    0 2px 4px -1px rgba(0, 0, 0, 0.03);
}

.role-segmented {
  background: #f0f3f4; /* nền xám */
  padding: 8px 8px;
  border-radius: 10px;
  display: flex;
}

.role-segmented .ant-segmented-item {
  border-radius: 8px;
  flex: 1;
  padding:8px 0;
  font-size: 18px;
}

.role-segmented .ant-segmented-item-selected {
  background: white;
  box-shadow: 0 1px 2px rgba(0,0,0,0.08);
  color: #1CB5E0;
  font-weight: 500;
}

/* Trạng thái bình thường */
.subject-select  {
  border-radius: 8px;
  border: 0.5px solid rgb(13, 148, 136,0.2);
  min-height: 50px;
  padding: 8px 4px;
  display: flex;

}

/* Khi có tag bên trong vẫn giữ style */
.subject-select.ant-select-multiple .ant-select-selection-item {
  background: #ccfbf1;
  border-radius: 6px;
  padding: 4px;
  color: #0d9488
}

